Repository boostcamp-2020/Project09-A-Uber, pull requests merged in 2020-11, with the labels that each got.

#4 Fix #3 : resolver에서 request 객체 사용할 때 에러 발생
  server/codegen.yml
Labels: 🌐 server, 🔧 hotfix

#13 Feat #12 공통 Input 컴포넌트 구현
  client/.eslintrc.js
  client/config-overrides.js
  client/src/components/Input/Input.tsx
  client/src/components/Input/index.ts
  client/src/images/allow.svg
  client/src/images/warning.svg
  client/src/theme/index.ts
  client/tsconfig.paths.json
Labels: 🌈 Client, 💁🏻 Component

#23 [JE] 결제등록 폼 및 회원가입 버튼 구현
  client/src/components/Input/Input.tsx
  client/src/components/PaymentInfoForm/PaymentInfoForm.tsx
  client/src/components/PaymentInfoForm/index.ts
  client/src/components/Selector/Selector.tsx
Labels: 🌈 Client, 💁🏻 Component

#24 [J059] 드라이버 입력폼 구현
  client/src/components/DriverForm/DriverForm.tsx
  client/src/components/DriverForm/index.ts
  client/src/components/Selector/Selector.tsx
Labels: 🌈 Client, 💁🏻 Component

#21 [CY] 공통 회원가입 페이지 구현
  client/.eslintrc.js
  client/config-overrides.js
  client/src/App.tsx
  client/src/components/Input/Input.tsx
  client/src/components/ProfileUploader/ProfileUploader.tsx
  client/src/components/ProfileUploader/index.ts
  client/src/components/UserToggle/UserToggle.tsx
  client/src/components/UserToggle/index.ts
  client/src/hooks/useChange.ts
  client/src/images/profile.svg
  client/src/routes/Signup/CommonSignup.tsx
  client/src/routes/Signup/NextSingup.tsx
  client/src/routes/Signup/Signup.tsx
  client/src/routes/Signup/index.tsx
  client/src/theme/antd.less
  client/src/theme/index.ts
  client/tsconfig.paths.json
Labels: 🌈 Client, 💁🏻 Component, 🚖. feature

#19 [JH] passport를 활용한 로그인 인증 구현
  server/package-lock.json
  server/package.json
  server/src/api/login/index.ts
  server/src/app.ts
  server/src/passport/auth.ts
  server/src/passport/index.ts
  server/src/passport/local.ts
  server/src/types/ExpressFunction.d.ts
  server/src/util/bcrypt.ts
  server/src/util/server-message.ts
  server/tsconfig.json
Labels: 🌐 server, 🚖. feature

#26 [CY] Mongoose Schema 작성
  server/src/models/order.ts
  server/src/models/user.ts
Labels: 🌐 server, 📃 documentation

#27 [JH] 로그인 페이지 View 구현
  client/src/App.tsx
  client/src/components/Input/Input.tsx
  client/src/images/logo.svg
  client/src/routes/SignIn/SignIn.tsx
  client/src/routes/SignIn/index.ts
  client/src/routes/SignIn/style.ts
Labels: 🌈 Client, 💁🏻 Component, 🚖. feature

#31 [CY] 회원가입 페이지 연결
  client/src/components/DriverForm/DriverForm.tsx
  client/src/components/HeaderWithBack/HeaderWithBack.tsx
  client/src/components/HeaderWithBack/index.tsx
  client/src/components/PaymentInfoForm/PaymentInfoForm.tsx
  client/src/components/Selector/Selector.tsx
  client/src/images/LeftSVG.tsx
  client/src/routes/Signup/CommonSignup.tsx
  client/src/routes/Signup/NextSingup.tsx
  client/src/routes/Signup/Signup.tsx
Labels: 🌈 Client, 💁🏻 Component, 🚖. feature

#28 [HJ] 드라이버 입력폼 정규식 구현
  client/.eslintrc.js
  client/config-overrides.js
  client/src/components/DriverForm/DriverForm.tsx
  client/src/utils/vaildator.ts
  client/tsconfig.paths.json
Labels: 🌈 Client, 🚖. feature

#33 [JE] 결제정보 입력값 유효성 검사 함수들 작성
  client/.eslintrc.js
  client/config-overrides.js
  client/src/components/PaymentInfoForm/PaymentInfoForm.tsx
  client/src/utils/restrictors.ts
  client/src/utils/validators.ts
Labels: 🌈 Client, 💁🏻 Component

#32 [JH] passport 인증 전략 변경, refresh token 저장 로직 추가
  server/src/models/index.ts
  server/src/models/user.ts
  server/src/passport/auth.ts
  server/src/passport/local.ts
Labels: 🌐 server, 🚖. feature

#38 [HJ, JE] 회원가입 API 호출하는 generator 및 reducer 함수 작성
  client/src/components/DriverForm/DriverForm.tsx
  client/src/components/PaymentInfoForm/PaymentInfoForm.tsx
  client/src/hooks/useValidator.ts
  client/src/reducers/addUserInfo.ts
  client/src/reducers/index.ts
  client/src/reducers/user.ts
  client/src/routes/Signup/NextSingup.tsx
  client/src/routes/Signup/Signup.tsx
  client/src/sagas/index.ts
  client/src/sagas/userSaga.ts
  client/src/utils/validators.ts
Labels: 🌈 Client, 💁🏻 Component

#36 [CY] 회원가입 API 구현
  server/src/api/signup/driverSignup.ts
  server/src/api/signup/index.ts
  server/src/api/signup/userSignup.ts
  server/src/app.ts
  server/src/models/car.ts
  server/src/models/chat.ts
  server/src/models/driver.ts
  server/src/models/location.ts
  server/src/models/order.ts
  server/src/models/payment.ts
  server/src/models/user.ts
  server/src/services/user/createDriver.ts
  server/src/services/user/createUser.ts
  server/src/types/ExpressFunction.d.ts
  server/src/types/service.ts
  server/tsconfig.json
Labels: 🌐 server, 🚖. feature

#37 [CY] 회원가입 시 사용자 공통정보 유효성 검사
  client/src/hooks/useValidator.ts
  client/src/routes/Signup/CommonSignup.tsx
  client/src/routes/Signup/Signup.tsx
  client/src/utils/validators.ts
Labels: 🌈 Client, 🚖. feature

#39 [JH] API Auth 서버쪽 로직 구현
  server/src/api/token/token.graphql
  server/src/api/token/token.resolvers.ts
  server/src/app.ts
  server/src/types/api.d.ts
  server/src/util/apiAuth.ts
Labels: 🌐 server, 🚖. feature

#41 [CY,JE] 드라이버 및 탑승자 회원가입 요청 리덕스 사가 연결
  client/src/components/DriverForm/DriverForm.tsx
  client/src/components/DriverForm/carTypeMapper.ts
  client/src/components/Input/Input.tsx
  client/src/components/PaymentInfoForm/PaymentInfoForm.tsx
  client/src/reducers/index.ts
  client/src/reducers/user.ts
  client/src/sagas/userSaga.ts
  server/src/app.ts
Labels: 🌈 Client, 🚖. feature

#42 [JH] 로그인 페이지 saga 설정
  client/src/reducers/index.ts
  client/src/reducers/user.ts
  client/src/routes/SignIn/SignIn.tsx
  client/src/routes/SignIn/style.ts
  client/src/sagas/userSaga.ts
  client/src/utils/token.ts
  server/src/app.ts
Labels: 🌈 Client, 🚖. feature

#48 로그인 시 토글 초기화 에러 수정
  client/src/routes/SignIn/SignIn.tsx
  client/src/routes/SignIn/style.ts
Labels: 🔧 hotfix

#49 [HJ] validator 문제 해결
  client/src/hooks/useValidator.ts
Labels: 🌈 Client, 🔧 hotfix

#51 [HJ] Google Map 초기 세팅/direction 5 api 생성
  client/package-lock.json
  client/package.json
  client/src/components/GoogleMap/GoogleMap.tsx
  client/src/components/GoogleMap/index.ts
  client/src/routes/Home/Home.tsx
Labels: 🌈 Client

#50 [CY, JE] 사용자 정보 조회하는 API 구현
  .gitignore
  client/codegen.yml
  client/package-lock.json
  client/package.json
  client/schema.json
  client/src/components/UserToggle/UserToggle.tsx
  server/codegen.yml
  server/src/api/user/getUserInfo/getUserInfo.graphql
  server/src/api/user/getUserInfo/getUserInfo.resolvers.ts
  server/src/api/user/shared/user.graphql
  server/src/models/user.ts
  server/src/services/user/getUser.ts
  server/src/types/request.ts
  server/src/util/server-message.ts
Labels: 🌐 server, 🚖. feature

#55 [JE] Rest API로 진행하던 API를 graphql로 변경
  server/src/api/login/index.ts
  server/src/api/signup/driverSignup.ts
  server/src/api/signup/index.ts
  server/src/api/signup/userSignup.ts
  server/src/api/user/shared/user.graphql
  server/src/api/user/signupDriver/signupDriver.graphql
  server/src/api/user/signupDriver/signupDriver.resolvers.ts
  server/src/api/user/signupUser/signupUser.graphql
  server/src/api/user/signupUser/signupUser.resolvers.ts
  server/src/app.ts
  server/src/passport/auth.ts
  server/src/services/user/createDriver.ts
  server/src/services/user/createUser.ts
Labels: 🌐 server, 🚖. feature

#57 [HJ] 사가 로직 삭제, 로그인, 회원가입 graphql 요청으로 변경
  client/package-lock.json
  client/src/App.tsx
  client/src/components/DriverForm/DriverForm.tsx
  client/src/components/PaymentInfoForm/PaymentInfoForm.tsx
  client/src/queries/user.queries.ts
  client/src/reducers/index.ts
  client/src/reducers/user.ts
  client/src/routes/SignIn/SignIn.tsx
  client/src/sagas/index.ts
  client/src/sagas/userSaga.ts
Labels: 🌈 Client

#63 [CY] 로그인 판별 HOC 구현
  client/src/App.tsx
  client/src/apollo.ts
  client/src/utils/auth.tsx
  server/src/app.ts
Labels: 🌈 Client, 💁🏻 Component, 🚖. feature

#62 [HJ] 회원가입, 로그인 페이지 토스트메시지 및 라우팅
  client/.eslintrc.js
  client/config-overrides.js
  client/package.json
  client/src/components/DriverForm/DriverForm.tsx
  client/src/components/PaymentInfoForm/PaymentInfoForm.tsx
  client/src/routes/SignIn/SignIn.tsx
  client/src/utils/client-message.ts
  client/src/utils/enums.ts
  client/tsconfig.paths.json
Labels: 🌈 Client, 🚖. feature

#61 [JE] 메뉴 헤더 구현
  client/src/components/HeaderWithBack/HeaderWithBack.tsx
  client/src/components/HeaderWithMenu/HeaderWithMenu.tsx
  client/src/components/HeaderWithMenu/index.tsx
  client/src/hooks/useToggle.ts
  client/src/images/menuSVG.tsx
Labels: 🌈 Client, 💁🏻 Component

#64 [JH, CY, JE, HJ] useQuery, useMutation 커스텀 훅 구현
  client/.eslintrc.js
  client/src/hooks/useApollo.ts
  client/src/queries/token.queries.ts
  client/src/utils/auth.tsx
  server/src/api/token/token.graphql
  server/src/api/token/token.resolvers.ts
  server/src/api/user/login/login.resolvers.ts
  server/src/app.ts
  server/src/util/isAuthenticated.ts
Labels: 🌈 Client, 🌐 server, 🔧 hotfix, 🚖. feature

#65 [CY, JE] 출발지와 도착지 사이의 경로를 구글맵에 띄워주기
  client/package-lock.json
  client/package.json
  client/src/components/GoogleMap/Directions.tsx
  client/src/components/GoogleMap/GoogleMap.tsx
Labels: 🌈 Client, 💁🏻 Component, 🚖. feature

#67 [HJ, JH] 구글맵 위치검색 기능 구현
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/src/components/AutoLocation/AutoLocation.tsx
  client/src/components/AutoLocation/index.ts
  client/src/components/AutoLocation/style.ts
  client/src/components/GoogleMap/GoogleMap.tsx
  client/src/components/GoogleMap/index.ts
  client/src/routes/Home/Home.tsx
  client/src/routes/Home/style.ts
Labels: 🌈 Client, 💁🏻 Component, 🚖. feature

#69 [CY] 메인 페이지 사용자/드라이버 페이지 분리
  client/src/App.tsx
  client/src/components/MapFrame/MapFrame.tsx
  client/src/components/MapFrame/index.ts
  client/src/queries/user.queries.ts
  client/src/routes/Driver/Main/Main.tsx
  client/src/routes/Driver/Main/index.ts
  client/src/routes/Home/Home.tsx
  client/src/routes/Home/style.ts
  client/src/routes/User/Main/Main.tsx
  client/src/routes/User/Main/index.ts
  client/src/utils/auth.tsx
Labels: 🌈 Client, 🚖. feature

#73 [CY] 맵 컴포넌트 위치 이동 리팩터링
  client/src/components/GoogleMap/Directions.tsx
  client/src/components/GoogleMap/GoogleMap.tsx
  client/src/utils/getUserLocation.ts
Labels: refactoring, 🌈 Client

#74 [JH] 채팅 페이지 View 구현
  client/src/App.tsx
  client/src/components/ChatInput/ChatInput.tsx
  client/src/components/ChatInput/index.ts
  client/src/components/ChatLog/ChatLog.tsx
  client/src/components/ChatLog/index.ts
  client/src/components/HeaderWithBack/HeaderWithBack.tsx
  client/src/routes/ChatRoom/ChatRoom.tsx
  client/src/routes/ChatRoom/index.ts
Labels: refactoring, 🌈 Client, 💁🏻 Component, 🚖. feature

#76 [CY] 드라이버 호출 (오더 생성) API 구현
  server/src/api/chat/shared/chat.graphql
  server/src/api/order/createOrder/createOrder.graphql
  server/src/api/order/createOrder/createOrder.resolvers.ts
  server/src/api/order/shared/order.graphql
  server/src/api/shared/type.graphql
  server/src/api/user/shared/user.graphql
  server/src/models/location.ts
  server/src/models/order.ts
  server/src/services/order/createOrder.ts
Labels: 🌐 server, 🚖. feature

#77 [JH] 예상 도착 시간, 이동 거리 표시 기능 구현
  client/src/components/AutoLocation/AutoLocation.tsx
  client/src/components/AutoLocation/style.ts
  client/src/components/EstimatedTime/EstimatedTime.tsx
  client/src/components/EstimatedTime/index.ts
  client/src/components/GoogleMap/Directions.tsx
  client/src/components/GoogleMap/GoogleMap.tsx
  client/src/components/MapFrame/MapFrame.tsx
  client/src/routes/User/Main/Main.tsx
Labels: 🌈 Client, 💁🏻 Component, 🚖. feature

#79 [CY] 클라이언트 드라이버 호출 (오더 생성) 기능 구현
  client/src/App.tsx
  client/src/queries/order.queries.ts
  client/src/reducers/index.ts
  client/src/reducers/order.ts
  client/src/routes/SearchDriver/SearchDriver.tsx
  client/src/routes/SearchDriver/index.ts
  client/src/routes/User/Main/Main.tsx
  server/src/api/shared/type.graphql
Labels: 🌈 Client, 💁🏻 Component, 🚖. feature

#83 [CY] 현재 배정되지 않은 오더 리스트 조회 API 구현
  server/src/api/order/createOrder/createOrder.resolvers.ts
  server/src/api/order/getUnassignedOrders/getUnassignedOrders.graphql
  server/src/api/order/getUnassignedOrders/getUnassingedOrders.resolvers.ts
  server/src/api/shared/type.graphql
  server/src/api/user/getUserInfo/getUserInfo.resolvers.ts
  server/src/models/order.ts
  server/src/passport/jwt.ts
  server/src/services/order/createOrder.ts
  server/src/services/order/getUnassingedOrders.ts
  server/src/types/request.ts
  server/src/util/isAuthenticated.ts
Labels: 🌐 server, 🚖. feature

#85 [CY] 현재 배정되지 않은 오더 리스트 화면에 표시
  client/src/components/AutoLocation/AutoLocation.tsx
  client/src/components/GoogleMap/GoogleMap.tsx
  client/src/components/MapFrame/MapFrame.tsx
  client/src/components/OrderLog/OrderLog.tsx
  client/src/components/OrderLog/index.ts
  client/src/hooks/useApollo.ts
  client/src/queries/order.queries.ts
  client/src/routes/Driver/Main/Main.tsx
  client/src/routes/User/Main/Main.tsx
  client/src/theme/index.ts
  server/src/api/shared/type.graphql
  server/src/models/location.ts
  server/src/util/isAuthenticated.ts
Labels: 🌈 Client, 💁🏻 Component, 🚖. feature

#87 [JH] 모달 컴포넌트 구현
  client/public/index.html
  client/src/components/Modal/Modal.tsx
  client/src/components/Modal/index.ts
  client/src/hooks/useModal.ts
  client/src/theme/index.ts
  client/src/utils/portal.tsx
Labels: 🌈 Client, 💁🏻 Component, 🚖. feature

#81 [HJ] 입력형식 유효하지않을때 메시지표시기능
  client/src/components/DriverForm/DriverForm.tsx
  client/src/components/Input/Input.tsx
  client/src/components/PaymentInfoForm/PaymentInfoForm.tsx
  client/src/routes/Signup/CommonSignup.tsx
  client/src/theme/index.ts
  client/src/utils/client-message.ts
Labels: 🌈 Client, 🚖. feature

#89 [HJ] 사용자위치 갱신 Mutation, 사용자 위치 갱신 subscription구현
  server/.eslintrc.js
  server/src/api/order/createOrder/createOrder.resolvers.ts
  server/src/api/order/getUnassignedOrders/getUnassingedOrders.resolvers.ts
  server/src/api/user/getUserInfo/getUserInfo.resolvers.ts
  server/src/api/user/login/login.resolvers.ts
  server/src/api/user/subLocation/subLocation.graphql
  server/src/api/user/subLocation/subLocation.resolvers.ts
  server/src/api/user/updateLocation/updateLocation.graphql
  server/src/api/user/updateLocation/updateLocation.resolvers.ts
  server/src/passport/jwt.ts
  server/src/services/user/updateLocation.ts
  server/src/types/request.ts
  server/src/util/isAuthenticated.ts
Labels: 🌐 server, 🚖. feature

#90 [JH] order 클릭 시 상세정보 Modal 띄워주는 기능
  client/src/components/Modal/Modal.tsx
  client/src/components/OrderModalItem/OrderModalItem.tsx
  client/src/components/OrderModalItem/index.ts
  client/src/routes/Driver/Main/Main.tsx
Labels: 🌈 Client, 💁🏻 Component, 🚖. feature

#92 [HJ] 위치갱신 API 수정
  server/src/api/user/subLocation/subLocation.resolvers.ts
  server/src/api/user/updateDriverLocation/updateDriverLocation.graphql
  server/src/api/user/updateDriverLocation/updateDriverLocation.resolvers.ts
  server/src/api/user/updateLocation/updateLocation.resolvers.ts
  server/src/services/user/updateDriverLocation.ts
  server/src/services/user/updateLocation.ts
  server/src/types/request.ts
  server/src/util/server-message.ts
Labels: refactoring, 🌈 Client

#97 [JE] 오더 정보 조회 API 구현
  server/src/api/order/getOrder/getOrder.graphql
  server/src/api/order/getOrder/getOrder.resolvers.ts
  server/src/services/order/getOrder.ts
  server/src/util/server-message.ts
Labels: 🌐 server, 🚖. feature

#96 [CY] 드라이버 오더 승인 API 구현
  server/src/api/order/approvalOrder/approvalOrder.graphql
  server/src/api/order/approvalOrder/approvalOrder.resolvers.ts
  server/src/api/order/subApprovalOrder/subApprovalOrder.graphql
  server/src/api/order/subApprovalOrder/subApprovalOrder.resolvers.ts
  server/src/models/index.ts
  server/src/services/order/approvalOrder.ts
Labels: 🌐 server, 🚖. feature

#100 [JH] 오더 리스트 없을 경우 메세지 출력 안되는 문제 해결
  client/src/routes/Driver/Main/Main.tsx
Labels: 🌈 Client, 🕷 bug

#101 [CY] 드라이버 오더 승인 및 오더 승인시 유저에게 팝업 표시
  client/src/components/OrderModalItem/OrderModalItem.tsx
  client/src/queries/order.queries.ts
  client/src/routes/Driver/Main/Main.tsx
  client/src/routes/SearchDriver/SearchDriver.tsx
Labels: 🌈 Client, 🚖. feature

#99 [HJ] 목적지, 드라이버 위치 계산함수 구현 / 차량정보 컴포넌트 구현
  client/src/components/CarInfo/CarInfo.tsx
  client/src/components/CarInfo/index.ts
  client/src/utils/calcLocationDistance.ts
  client/src/utils/client-message.ts
  client/src/utils/enums.ts
Labels: 🌈 Client, 💁🏻 Component, 🚖. feature

#104 [JE] 드라이버 출발지까지 실시간 이동경로 페이지
  client/src/App.tsx
  client/src/queries/order.queries.ts
  client/src/queries/user.queries.ts
  client/src/routes/Driver/GoToOrigin/GoToOrigin.tsx
  client/src/routes/Driver/GoToOrigin/index.ts
  server/src/api/user/subLocation/subLocation.graphql
  server/src/api/user/updateDriverLocation/updateDriverLocation.graphql
  server/src/api/user/updateDriverLocation/updateDriverLocation.resolvers.ts
  server/src/services/user/updateDriverLocation.ts
Labels: 🌈 Client, 🌐 server, 💁🏻 Component, 🚖. feature
