Repository boostcamp-2020/Project09-A-Uber, pull requests merged in 2020-12, with the labels that each got.

#106 [JH] 오더 수락 시 오더 리스트 업데이트 기능 구현
  client/src/queries/order.queries.ts
  client/src/routes/Driver/Main/Main.tsx
  server/src/api/order/approvalOrder/approvalOrder.resolvers.ts
  server/src/api/order/updateOrderList/updateOrderList.graphql
  server/src/api/order/updateOrderList/updateOrderList.resolvers.ts
Labels: 🌈 Client, 🌐 server, 🚖. feature

#105 [CY] 오더 승인 시 정보에서 차량정보 표시
  client/src/components/CarInfo/CarInfo.tsx
  client/src/components/CarInfo/carTypeMapper.ts
  client/src/hooks/useApollo.ts
  client/src/queries/order.queries.ts
  client/src/reducers/index.ts
  client/src/reducers/order.ts
  client/src/routes/SearchDriver/SearchDriver.tsx
  client/src/utils/client-message.ts
  server/src/api/order/getOrderCarInfo/getOrderCarInfo.graphql
  server/src/api/order/getOrderCarInfo/getOrderCarInfo.resolvers.ts
  server/src/models/order.ts
  server/src/services/order/getOrderCarInfo.ts
Labels: 🌈 Client, 🌐 server, 🚖. feature

#110 [HJ] 운행시작 버튼 클릭시 동작 구현
  client/src/App.tsx
  client/src/routes/Driver/GoToDestination/GoToDestination.tsx
  client/src/routes/Driver/GoToDestination/index.ts
  client/src/routes/Driver/GoToOrigin/GoToOrigin.tsx
  server/src/api/order/getOrder/getOrder.resolvers.ts
  server/src/services/order/getOrder.ts
Labels: 🌈 Client, 💁🏻 Component, 🚖. feature

#113 [CY] 사용자 드라이버 호출 취소 API 구현
  server/src/api/order/cancelOrder/cancelOrder.graphql
  server/src/api/order/cancelOrder/cancelOrder.resolvers.ts
  server/src/services/order/cancelOrder.ts
Labels: 🌐 server, 🚖. feature

#116 [JH] 채팅 기능 구현 (추가 구현 해야할 사항 조금 있음)
  client/.eslintrc.js
  client/src/App.tsx
  client/src/components/ChatInput/ChatInput.tsx
  client/src/components/ChatLog/ChatLog.tsx
  client/src/queries/chat.queries.ts
  client/src/queries/user.queries.ts
  client/src/routes/ChatRoom/ChatRoom.tsx
  server/src/api/chat/createChat/createChat.graphql
  server/src/api/chat/createChat/createChat.resolvers.ts
  server/src/api/chat/getChat/getChat.graphql
  server/src/api/chat/getChat/getChat.resolvers.ts
  server/src/api/chat/shared/chat.graphql
  server/src/api/chat/subChat/subChat.graphql
  server/src/api/chat/subChat/subChat.resolvers.ts
  server/src/api/shared/type.graphql
  server/src/services/chat/createChat.ts
  server/src/services/chat/getChat.ts
  server/src/util/server-message.ts
Labels: ⌨ refactoring, 🌈 Client, 🌐 server, 💁🏻 Component, 🚖. feature

#117 [CY] 사용자 드라이버 호출 취소 기능 구현
  client/src/queries/order.queries.ts
  client/src/routes/SearchDriver/SearchDriver.tsx
  client/src/utils/client-message.ts
Labels: 🌈 Client, 🚖. feature

#114 [HJ] 출발지 -> 출발지 -> 목적지 드라이버 위치 변경/운행비 확인
  client/src/routes/Driver/GoToDestination/GoToDestination.tsx
  client/src/utils/enums.ts
  client/src/utils/numberWithCommas.ts
Labels: 🌈 Client, 💁🏻 Component, 🚖. feature

#121 [HJ] 새로운 오더 생성 구독하는 subscription 생성
  server/src/api/order/createOrder/createOrder.resolvers.ts
  server/src/api/order/subNewOrder/subNewOrder.graphql
  server/src/api/order/subNewOrder/subNewOrder.resolvers.ts
  server/src/services/order/createOrder.ts
Labels: 🌐 server, 🚖. feature

#123 [JH] 채팅 subscription filter 기능 추가
  client/src/queries/chat.queries.ts
  client/src/routes/ChatRoom/ChatRoom.tsx
  server/src/api/chat/createChat/createChat.resolvers.ts
  server/src/api/chat/subChat/subChat.graphql
  server/src/api/chat/subChat/subChat.resolvers.ts
Labels: ⌨ refactoring, 🌈 Client, 🌐 server, 🚖. feature

#124 [CY] useApollo 리팩터링
  client/src/hooks/useApollo.ts
Labels: ⌨ refactoring, 🌈 Client

#127 [HJ] 드라이버 새로운 오더 팝업(Modal)기능
  client/src/components/OrderModalItem/OrderModalItem.tsx
  client/src/queries/order.queries.ts
  client/src/routes/Driver/Main/Main.tsx
  client/src/utils/enums.ts
Labels: 🌈 Client, 🚖. feature

#119 [JE] 드라이버가 출발지로 이동하는 실시간 경로 보여주는 페이지 (탑승자 화면)
  client/src/App.tsx
  client/src/queries/user.queries.ts
  client/src/routes/User/WaitingDriver/WaitingDriver.tsx
  client/src/routes/User/WaitingDriver/index.ts
  server/src/api/user/subLocation/subDriverLocation.graphql
  server/src/api/user/subLocation/subDriverLocation.resolvers.ts
  server/src/api/user/updateDriverLocation/updateDriverLocation.resolvers.ts
  server/src/services/order/getOrder.ts
  server/src/services/user/updateDriverLocation.ts
Labels: 🌈 Client, 🌐 server, 💁🏻 Component, 🚖. feature

#125 [JH] 오더 생성 시 리스트 자동업데이트 구현
  server/src/api/order/createOrder/createOrder.resolvers.ts
Labels: 🌐 server, 🚖. feature

#131 [HJ] 오더조회 서비스로직분리/ 오더 중복 수락 방지
  client/src/components/OrderModalItem/OrderModalItem.tsx
  client/src/queries/order.queries.ts
  client/src/utils/client-message.ts
  client/src/utils/enums.ts
  server/src/api/order/getOrderById/getOrderById.graphql
  server/src/api/order/getOrderById/getOrderById.resolvers.ts
  server/src/api/order/shared/order.graphql
  server/src/api/user/updateDriverLocation/updateDriverLocation.resolvers.ts
  server/src/services/order/getActiveDriverOrder.ts
  server/src/services/order/getOrder.ts
  server/src/services/order/getOrderById.ts
  server/src/services/user/updateDriverLocation.ts
Labels: ⌨ refactoring, 🌈 Client, 🌐 server, 🚖. feature

#135 [JE] Log 스키마 작성
  server/src/models/log.ts
Labels: 🌐 server

#138 [HJ] 호출 취소된 오더 수락시 드라이버에게 메시지 띄워주기
  client/src/components/OrderModalItem/OrderModalItem.tsx
  client/src/utils/client-message.ts
  server/src/api/order/createOrder/createOrder.resolvers.ts
Labels: ⌨ refactoring, 🌈 Client

#139 [CY] 사용자와 드라이버간의 통신 Subscription 구조 변경
  client/.eslintrc.js
  client/src/queries/order.queries.ts
  client/src/routes/User/SearchDriver/SearchDriver.tsx
  client/src/types/orderCallStatus.ts
  server/src/api/order/approvalOrder/approvalOrder.resolvers.ts
  server/src/api/order/subApprovalOrder/subApprovalOrder.graphql
  server/src/api/order/subApprovalOrder/subApprovalOrder.resolvers.ts
  server/src/api/order/subOrderCallStatus/subOrderCallStatus.graphql
  server/src/api/order/subOrderCallStatus/subOrderCallStatus.resolvers.ts
Labels: ⌨ refactoring, 🌈 Client, 🌐 server

#143 [CY] 드라이버 운행 시작 시 사용자 페이지 변경
  client/src/queries/order.queries.ts
  client/src/routes/Driver/GoToOrigin/GoToOrigin.tsx
  client/src/routes/User/WaitingDriver/WaitingDriver.tsx
  server/src/api/order/startDriving/startDriving.graphql
  server/src/api/order/startDriving/startDriving.resolvers.ts
  server/src/api/order/subOrderCallStatus/subOrderCallStatus.resolvers.ts
Labels: 🌈 Client, 🌐 server, 🚖. feature

#142 [JE] 로그 생성 API 작성
  server/src/models/log.ts
Labels: 🌐 server, 🚖. feature

#137 [JH] 채팅방 UX 관련 이슈 해결(Enter시 채팅 입력, 채팅 추가 시 자동 스크롤)
  client/src/components/ChatInput/ChatInput.tsx
  client/src/components/ChatLog/ChatLog.tsx
  client/src/routes/ChatRoom/ChatRoom.tsx
Labels: ⌨ refactoring, 🌈 Client, 🚖. feature

#148 [HJ] 메인페이지 드라이버 현재위치 표시/10km 이내의 필터링된 order 구독
  client/src/queries/order.queries.ts
  client/src/routes/Driver/Main/Main.tsx
  client/src/utils/enums.ts
  server/src/api/order/subNewOrder/subNewOrder.graphql
  server/src/api/order/subNewOrder/subNewOrder.resolvers.ts
  server/src/util/calcLocationDistance.ts
  server/src/util/emuns.ts
Labels: 🌈 Client, 🌐 server, 🚖. feature

#150 [CY] origin, descrition 데이터 로컬 컴포넌트에서 redux 전역 스토어로 관리
  client/src/components/AutoLocation/AutoLocation.tsx
  client/src/components/EstimatedTime/EstimatedTime.tsx
  client/src/components/GoogleMap/Directions.tsx
  client/src/components/GoogleMap/GoogleMap.tsx
  client/src/components/GoogleMap/index.ts
  client/src/components/MapFrame/MapFrame.tsx
  client/src/components/OrderModalItem/OrderModalItem.tsx
  client/src/reducers/index.ts
  client/src/reducers/location.ts
  client/src/routes/Driver/GoToDestination/GoToDestination.tsx
  client/src/routes/Driver/GoToOrigin/GoToOrigin.tsx
  client/src/routes/User/Main/Main.tsx
  client/src/routes/User/WaitingDriver/WaitingDriver.tsx
  client/src/utils/calcLocationDistance.ts
  client/src/utils/getUserLocation.ts
Labels: ⌨ refactoring, 🌈 Client

#154 [CY] 유저 GoToDestination 실시간 위치 지도에 표시
  client/src/App.tsx
  client/src/routes/Driver/Main/Main.tsx
  client/src/routes/User/GoToDestination/GoToDestination.tsx
  client/src/routes/User/GoToDestination/index.ts
  client/src/utils/enums.ts
  client/src/utils/getUserLocation.ts
Labels: 🌈 Client, 💁🏻 Component, 🚖. feature

#156 [HJ, JH] 드라이버위치 이동시마다 오더리스트(10km 이내) 갱신
  client/src/routes/Driver/Main/Main.tsx
  server/src/api/user/updateDriverLocation/updateDriverLocation.resolvers.ts
Labels: 🌈 Client, 🌐 server

#157 [CY] 위치 이동 setTImeout -> 이동 감지 함수로 적용
  client/src/routes/Driver/GoToDestination/GoToDestination.tsx
  client/src/routes/Driver/GoToOrigin/GoToOrigin.tsx
  client/src/routes/Driver/Main/Main.tsx
  client/src/routes/User/GoToDestination/GoToDestination.tsx
Labels: ⌨ refactoring, 🌈 Client, 🚖. feature

#159 [JE] 여러 active한 오더가 있을 경우 실시간 경로 공유 문제 해결
  server/src/api/order/startDriving/startDriving.resolvers.ts
  server/src/models/order.ts
  server/src/services/order/getActiveDriverOrder.ts
  server/src/services/order/startDriving.ts
Labels: 🌐 server, 🕷 bug

#160 [CY] 운행 완료 API 기능 구현
  server/src/api/order/completeOrder/completeOrder.graphql
  server/src/api/order/completeOrder/completeOrder.resolvers.ts
  server/src/services/order/completeOrder.ts
Labels: 🌐 server, 🚖. feature

#162 [JE] 운행 종료시 오더 정보 팝업으로 띄움
  client/src/queries/order.queries.ts
  client/src/routes/Driver/GoToDestination/GoToDestination.tsx
  client/src/routes/User/GoToDestination/GoToDestination.tsx
  client/src/utils/calcDriveTime.ts
Labels: 🌈 Client, 💁🏻 Component, 🚖. feature

#163 [JH, HJ] HOC auth 컴포넌트 수정, 리덕스 스토어 상태관리 추가
  client/src/components/ChatInput/ChatInput.tsx
  client/src/queries/user.queries.ts
  client/src/reducers/index.ts
  client/src/reducers/user.ts
  client/src/routes/ChatRoom/ChatRoom.tsx
  client/src/routes/Home/Home.tsx
  client/src/utils/auth.tsx
  server/src/api/user/getUserInfo/getUserInfo.graphql
  server/src/api/user/getUserInfo/getUserInfo.resolvers.ts
  server/src/api/user/getUserWithOrder/getUserWithOrder.graphql
  server/src/api/user/getUserWithOrder/getUserWithOrder.resolvers.ts
  server/src/services/user/getUserWithOrder.ts
Labels: ⌨ refactoring, 🌈 Client, 🌐 server, 🔧 hotfix

#165 [HJ] 드라이버 오더수락시 사용자화면에서 (출발지, 목적지) 표시
  client/src/queries/user.queries.ts
  client/src/routes/Driver/GoToOrigin/GoToOrigin.tsx
  client/src/routes/User/WaitingDriver/WaitingDriver.tsx
  server/src/api/user/getDriverLocation/getDriverLocation.graphql
  server/src/api/user/getDriverLocation/getDriverLocation.resolvers.ts
  server/src/services/user/getDriverLocation.ts
Labels: ⌨ refactoring, 🌈 Client, 🌐 server, 🕷 bug

#167 [JH] 드라이버가 탑승지까지 예상 도착 시간 표시 기능 구현
  client/src/components/EstimatedTime/EstimatedTime.tsx
  client/src/routes/User/WaitingDriver/WaitingDriver.tsx
Labels: 🌈 Client, 🚖. feature

#170 [JH] app.ts 리팩토링
  server/src/app.ts
Labels: ⌨ refactoring, 🌐 server

#169 [CY] ESLint 및 Prettier 설정 변경
  client/.eslintrc.js
  client/.prettierrc
  client/package-lock.json
  client/package.json
  client/src/components/AutoLocation/AutoLocation.tsx
  client/src/components/CarInfo/CarInfo.tsx
  client/src/components/ChatInput/ChatInput.tsx
  server/.eslintrc.js
  server/.prettierrc
Labels: 🌈 Client, 🌐 server

#168 [JE] 이용 기록 확인
  client/src/App.tsx
  client/src/components/HeaderWithMenu/HeaderWithMenu.tsx
  client/src/components/OrderHistoryList/Log.tsx
  client/src/components/OrderHistoryList/OrderHistoryList.tsx
  client/src/components/OrderHistoryList/index.ts
  client/src/queries/order.queries.ts
  client/src/routes/OrderHistory/OrderHistory.tsx
  client/src/routes/OrderHistory/index.ts
  server/src/api/order/getCompletedOrder/getCompletedOrder.graphql
  server/src/api/order/getCompletedOrder/getCompletedOrder.resolvers.ts
  server/src/services/order/getCompletedOrders.ts
Labels: 🌈 Client, 💁🏻 Component

#172 [HJ] 택시 요금 업데이트 안되는 현상 해결.
  client/src/routes/Driver/GoToDestination/GoToDestination.tsx
Labels: 🌈 Client, 🕷 bug

#174 [CY] subscription에 directive 적용 이슈 해결
  server/src/api/chat/subChat/subChat.graphql
  server/src/api/order/subNewOrder/subNewOrder.graphql
  server/src/api/order/subOrderCallStatus/subOrderCallStatus.graphql
  server/src/api/user/subLocation/subDriverLocation.graphql
  server/src/app.ts
  server/src/util/cookiesParser.ts
  server/src/util/isAuthenticated.ts
  server/src/util/isValidToken.ts
Labels: 🌐 server, 🔧 hotfix

#176 클라이언트 쿼리 폴더 구조 리팩터링
  client/package.json
  client/src/components/DriverForm/DriverForm.tsx
  client/src/components/OrderModalItem/OrderModalItem.tsx
  client/src/components/PaymentInfoForm/PaymentInfoForm.tsx
  client/src/hooks/useApollo.ts
  client/src/queries/chat.queries.ts
  client/src/queries/chat/createChat.queries.ts
  client/src/queries/chat/getChat.queries.ts
  client/src/queries/chat/index.ts
  client/src/queries/chat/subChat.queries.ts
  client/src/queries/hello.queries.ts
  client/src/queries/order.queries.ts
  client/src/queries/order/approvalOrder.queries.ts
  client/src/queries/order/cancelOrder.queries.ts
  client/src/queries/order/completeOrder.queries.ts
  client/src/queries/order/createOrder.queries.ts
  client/src/queries/order/getCompletedOrder.queries.ts
  client/src/queries/order/getOrder.queries.ts
  client/src/queries/order/getOrderById.queries.ts
  client/src/queries/order/getOrderCarInfo.queries.ts
  client/src/queries/order/getUnassignedOrders.queries.ts
  client/src/queries/order/index.ts
  client/src/queries/order/startDriving.queries.ts
  client/src/queries/order/subNewOrder.queries.ts
  client/src/queries/order/subOrderCallStatus.queries.ts
  client/src/queries/order/updateOrderList.queries.ts
  client/src/queries/token/index.ts
  client/src/queries/token/requestToken.queries.ts
  client/src/queries/user.queries.ts
  client/src/queries/user/getDriverLocation.queries.ts
  client/src/queries/user/getUserWithOrder.queries.ts
  client/src/queries/user/index.ts
  client/src/queries/user/signin.queries.ts
  client/src/queries/user/signupDriver.queries.ts
  client/src/queries/user/signupUser.queries.ts
  client/src/queries/user/subDriverLocation.queries.ts
  client/src/queries/user/updateDriverLocation.queries.ts
  client/src/routes/ChatRoom/ChatRoom.tsx
  client/src/routes/Driver/GoToDestination/GoToDestination.tsx
  client/src/routes/Driver/GoToOrigin/GoToOrigin.tsx
  client/src/routes/Driver/Main/Main.tsx
  client/src/routes/Home/Home.tsx
  client/src/routes/OrderHistory/OrderHistory.tsx
  client/src/routes/SignIn/SignIn.tsx
  client/src/routes/User/GoToDestination/GoToDestination.tsx
  client/src/routes/User/Main/Main.tsx
  client/src/routes/User/SearchDriver/SearchDriver.tsx
  client/src/routes/User/WaitingDriver/WaitingDriver.tsx
  client/src/utils/auth.tsx
Labels: ⌨ refactoring, 🌈 Client

#179 [CY] 유저(일반 사용자 및 드라이버) 로그아웃 API 구현
  server/src/api/user/logout/logout.graphql
  server/src/api/user/logout/logout.resolvers.ts
  server/src/services/user/deleteRefreshToken.ts
Labels: 🌐 server, 🚖. feature

#177 [JH] 채팅방 업데이트 이슈 해결, 채팅 생성 시 createdAt, writer 속성 서버에서 넣어주도록 변경
  client/src/components/ChatLog/ChatLog.tsx
  client/src/components/EstimatedTime/EstimatedTime.tsx
  client/src/components/HeaderWithMenu/HeaderWithMenu.tsx
  client/src/queries/chat/createChat.queries.ts
  client/src/routes/ChatRoom/ChatRoom.tsx
  client/src/routes/Driver/GoToDestination/GoToDestination.tsx
  client/src/routes/Driver/GoToOrigin/GoToOrigin.tsx
  server/src/api/chat/createChat/createChat.graphql
  server/src/api/chat/createChat/createChat.resolvers.ts
  server/src/api/shared/type.graphql
  server/src/services/chat/createChat.ts
Labels: ⌨ refactoring, 🌈 Client, 🌐 server

#182 [CY] 유저(일반 사용자 및 드라이버) 로그아웃 기능 헤더에 적용
  client/src/components/HeaderWithMenu/HeaderWithMenu.tsx
  client/src/queries/user/index.ts
  client/src/queries/user/logout.queries.ts
Labels: 🌈 Client, 🚖. feature

#183 [JH] eslint 규칙 변경에 따른 코드 수정, 코드 리팩토링
  client/src/App.tsx
  client/src/components/DriverForm/DriverForm.tsx
  client/src/components/OrderHistoryList/Log.tsx
  client/src/components/PageFrame/PageFrame.tsx
  client/src/components/PaymentInfoForm/PaymentInfoForm.tsx
  client/src/components/ProfileUploader/ProfileUploader.tsx
  client/src/components/UserToggle/UserToggle.tsx
  client/src/hooks/useValidator.ts
  client/src/images/menuSVG.tsx
  client/src/routes/ChatRoom/ChatRoom.tsx
  client/src/routes/Driver/Main/Main.tsx
  client/src/routes/OrderHistory/OrderHistory.tsx
  client/src/routes/SignIn/SignIn.tsx
  client/src/routes/User/GoToDestination/GoToDestination.tsx
  client/src/routes/User/Main/Main.tsx
  client/src/routes/User/WaitingDriver/WaitingDriver.tsx
Labels: ⌨ refactoring, 🌈 Client, 🔧 hotfix

#184 [HJ] 라우팅시 불필요한 타입검사 제거
  client/src/App.tsx
  client/src/components/UserToggle/UserToggle.tsx
  client/src/utils/auth.tsx
Labels: ⌨ refactoring, 🌈 Client

#186 운행 중에도 사용자와 드라이버 위치 공유
  client/src/routes/Driver/GoToDestination/GoToDestination.tsx
  client/src/routes/User/GoToDestination/GoToDestination.tsx
  server/src/services/order/getApprovalDriverOrder.ts
Labels: 🌈 Client, 🚖. feature

#191 [JH] Test용 DB Seeders 설정 추가
  server/package.json
  server/seeders/index.ts
  server/seeders/orders.seeder.json
  server/seeders/users.seeder.json
  server/tsconfig.json
Labels: 🌐 server, 🚖 feature

#193 [hj] 사용자 오더 기록 조회 cypress 테스트
  client/cypress/integration/OrderHistory.spec.ts
  client/src/components/HeaderWithMenu/HeaderWithMenu.tsx
Labels: 🌈 Client

#196 [JE] Cypress auth Routing 테스트 코드 작성
  client/cypress/integration/Routing.spec.ts
Labels: 🌈 Client

#201 [JE] 채팅 메시지 생성, 오더 취소, 드라이버 운행 시작 API 테스트 코드 작성
  server/__test__/chat.spec.ts
  server/__test__/mock.json
  server/__test__/order.spec.ts
  server/__test__/testApollo.ts
  server/seeders/orders.seeder.json
Labels: 🌈 Client, 🛠 Test

#205 [HJ] 사용자 오더 생성, 조회 테스트 / 드라이버 매칭되지않은 오더 조회 테스트
  server/__test__/mock.json
  server/__test__/order.spec.ts
  server/__test__/testApollo.ts
Labels: 🌐 server, 🛠 Test

#204 [CY] 서버 및 클라이언트 테스트 코드 작성
  client/cypress/integration/Signup.spec.ts
  client/src/components/DriverForm/DriverForm.tsx
  client/src/components/Input/Input.tsx
  client/src/components/PaymentInfoForm/PaymentInfoForm.tsx
  client/src/components/Selector/Selector.tsx
  client/src/routes/Signup/CommonSignup.tsx
  server/__test__/order.spec.ts
  server/__test__/testMongoose.ts
  server/__test__/user.spec.ts
Labels: 🌈 Client, 🌐 server, 🛠 Test

#208 [JH] 오더 완료, 오더 승인, 사용자 오더 조회 API 테스트 코드 작성
  server/__test__/mock.json
  server/__test__/order.spec.ts
  server/seeders/orders.seeder.json
  server/src/services/order/getCompletedOrders.ts
Labels: 🌐 server, 🛠 Test

#207 [HJ] 로그아웃 팝업 구현
  client/src/components/HeaderWithMenu/HeaderWithMenu.tsx
  client/src/utils/client-message.ts
Labels: ⌨ refactoring, 🌈 Client

#210 [HJ, JH, CY, JE] 서브스크립션 driective 버그 해결
  client/src/routes/Driver/Main/Main.tsx
  client/src/routes/SignIn/SignIn.tsx
  server/src/util/isValidToken.ts
Labels: ⌨ refactoring, 🕷 bug

#213 [HJ] 채팅방 유저 표시
  client/src/components/ChatLog/ChatLog.tsx
  client/src/routes/ChatRoom/ChatRoom.tsx
  client/src/theme/index.ts
Labels: ⌨ refactoring, 🌈 Client

#224 [HJ] antd 로그인 페이지 마이그레이션
  client/src/routes/SignIn/SignIn.tsx
  client/src/routes/SignIn/style.ts
Labels: ⌨ refactoring, 🌈 Client

#220 [JH] SearchDriver 페이지 antd 마이그레이션 작업
  client/src/routes/User/SearchDriver/SearchDriver.tsx
Labels: ⌨ refactoring, 🌈 Client

#218 [CY] Header 레이아웃 antd 사용해서 마이그래이션
  client/package.json
  client/src/components/HeaderWithBack/HeaderWithBack.tsx
  client/src/components/HeaderWithMenu/HeaderWithMenu.tsx
  client/src/images/LeftSVG.tsx
  client/src/images/menuSVG.tsx
  client/src/theme/antd.less
Labels: ⌨ refactoring, 🌈 Client

#225 [JE] 드라이버 goToOrigin 페이지 antd 마이그레이션 작업
  client/src/routes/Driver/GoToOrigin/GoToOrigin.tsx
  client/src/routes/Driver/Main/Main.tsx
Labels: ⌨ refactoring, 🌈 Client

#221 [JE] 드라이버 Main 페이지 antd 마이그레이션 작업
  client/src/routes/Driver/Main/Main.tsx
Labels: ⌨ refactoring, 🌈 Client

#227 [HJ] 로그인 페이지 antd 마이그레이션
  client/src/routes/SignIn/SignIn.tsx
  client/src/routes/SignIn/style.ts
Labels: ⌨ refactoring, 🌈 Client

#228 [CY] 채팅 페이지 antd 적용
  client/src/components/ChatInput/ChatInput.tsx
  client/src/components/ChatLog/ChatLog.tsx
  client/src/theme/antd.less
Labels: ⌨ refactoring, 🌈 Client

#231 [JH] WaitingDriver페이지 마이그레이션
  client/src/routes/User/SearchDriver/SearchDriver.tsx
  client/src/routes/User/WaitingDriver/WaitingDriver.tsx
  client/src/utils/client-message.ts
Labels: ⌨ refactoring, 🌈 Client

#233 [CY] OrderHistory 페이지 마이그레이션
  client/src/components/OrderHistoryList/Log.tsx
  client/src/components/OrderHistoryList/OrderHistoryList.tsx
Labels: ⌨ refactoring, 🌈 Client

#236 드라이버 goToDestionation 페이지 antd 마이그레이션 작업
  client/src/routes/Driver/GoToDestination/GoToDestination.tsx
Labels: ⌨ refactoring, 🌈 Client

#237 [CY] 로그아웃 E2E 테스트 코드 작성
  client/cypress/integration/logout.spec.ts
  client/src/components/HeaderWithMenu/HeaderWithMenu.tsx
Labels: 🌈 Client, 🛠 Test

#241 [JH] 유저 GoToDestination antd 마이그레이션
  client/src/routes/User/GoToDestination/GoToDestination.tsx
  client/src/utils/client-message.ts
Labels: ⌨ refactoring, 🌈 Client

#242 [JH] 웹으로 접속 시에도 모바일 사이즈로 고정되도록 변경
  client/public/index.html
  client/src/theme/global.tsx
Labels: ⌨ refactoring, 🌈 Client

#246 [hj] 공통 회원 가입 페이지 마이그레이션
  client/src/routes/Signup/CommonSignup.tsx
  client/src/routes/Signup/Signup.tsx
Labels: ⌨ refactoring, 🌈 Client

#244 [JH] 검색자동완성 스타일 변경
  client/src/components/AutoLocation/AutoLocation.tsx
  client/src/components/EstimatedTime/EstimatedTime.tsx
  client/src/routes/Driver/Main/Main.tsx
  client/src/routes/User/Main/Main.tsx
Labels: ⌨ refactoring, 🌈 Client

#245 [JE] 모달 스타일 통일
  client/src/routes/Driver/GoToDestination/GoToDestination.tsx
  client/src/routes/Driver/Main/Main.tsx
  client/src/routes/User/GoToDestination/GoToDestination.tsx
  client/src/routes/User/WaitingDriver/WaitingDriver.tsx
  client/src/utils/client-message.ts
Labels: ⌨ refactoring, 🌈 Client

#250 [HJ] 드라이버 회원가입페이지 antd 마이그레이션
  client/src/components/DriverForm/DriverForm.tsx
  client/src/components/ProfileUploader/ProfileUploader.tsx
  client/src/components/ProfileUploader/index.ts
  client/src/routes/Signup/CommonSignup.tsx
  client/src/routes/Signup/Signup.tsx
Labels: ⌨ refactoring, 🌈 Client

#251 [hj] 일반 사용자 회원가입 페이지 antd Migration
  client/src/components/DriverForm/DriverForm.tsx
  client/src/components/PaymentInfoForm/PaymentInfoForm.tsx
  client/src/utils/enums.ts
Labels: ⌨ refactoring, 🌈 Client

#252 기존 스타일 Antd를 사용해 마이그래이션
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/src/components/AutoLocation/AutoLocation.tsx
  client/src/components/AutoLocation/style.ts
  client/src/components/ChatInput/ChatInput.tsx
  client/src/components/ChatLog/ChatLog.tsx
  client/src/components/DriverForm/DriverForm.tsx
  client/src/components/EstimatedTime/EstimatedTime.tsx
  client/src/components/HeaderWithBack/HeaderWithBack.tsx
  client/src/components/HeaderWithMenu/HeaderWithMenu.tsx
  client/src/components/OrderHistoryList/Log.tsx
  client/src/components/OrderHistoryList/OrderHistoryList.tsx
  client/src/components/PaymentInfoForm/PaymentInfoForm.tsx
  client/src/components/ProfileUploader/ProfileUploader.tsx
  client/src/components/ProfileUploader/index.ts
  client/src/images/LeftSVG.tsx
  client/src/images/menuSVG.tsx
  client/src/routes/Driver/GoToDestination/GoToDestination.tsx
  client/src/routes/Driver/GoToOrigin/GoToOrigin.tsx
  client/src/routes/Driver/Main/Main.tsx
  client/src/routes/SignIn/SignIn.tsx
  client/src/routes/SignIn/style.ts
  client/src/routes/Signup/CommonSignup.tsx
  client/src/routes/Signup/Signup.tsx
  client/src/routes/User/GoToDestination/GoToDestination.tsx
  client/src/routes/User/Main/Main.tsx
  client/src/routes/User/SearchDriver/SearchDriver.tsx
  client/src/routes/User/WaitingDriver/WaitingDriver.tsx
  client/src/theme/antd.less
  client/src/theme/global.tsx
  client/src/utils/client-message.ts
  client/src/utils/enums.ts
Labels: ⌨ refactoring, 🌈 Client

#253 [CY] 채팅 알림 기능 구현
  client/src/components/ChatLog/ChatLog.tsx
  client/src/hooks/useChatNotifycation.ts
  client/src/routes/Driver/GoToDestination/GoToDestination.tsx
  client/src/routes/Driver/GoToOrigin/GoToOrigin.tsx
  client/src/routes/User/GoToDestination/GoToDestination.tsx
  client/src/routes/User/WaitingDriver/WaitingDriver.tsx
Labels: 🌈 Client, 🚖 feature

#254 PC 반응형 디자인 수정 및 토글 버튼 속성 추가
  client/src/routes/SignIn/SignIn.tsx
  client/src/theme/global.tsx
Labels: ⌨ refactoring, 🌈 Client

#255 [JE] 운행 시간 계산 함수 수정
  client/src/utils/calcDriveTime.ts
Labels: ⌨ refactoring, 🌈 Client

#257 [JH] 채팅방 채팅 로그 변경, 빈 문자열 전송 못하도록 변경
  client/src/components/ChatLog/ChatLog.tsx
  client/src/components/GoogleMap/Directions.tsx
  client/src/routes/ChatRoom/ChatRoom.tsx
Labels: ⌨ refactoring, 🌈 Client

#259 [JH, CY] 사용자, 드라이버 위치 동기화 즉각 안되는 문제 해결
  client/src/components/GoogleMap/Directions.tsx
  client/src/routes/User/WaitingDriver/WaitingDriver.tsx
Labels: ⌨ refactoring, 🌈 Client, 🔧 hotfix

#260 [JH] Cypress 테스트 코드 수정
  client/cypress/integration/SignIn.spec.ts
  client/cypress/integration/logout.spec.ts
  client/src/components/HeaderWithBack/HeaderWithBack.tsx
  client/src/routes/SignIn/SignIn.tsx
Labels: 🌈 Client, 🛠 Test

#262 [HJ,JE,JH] 드라이버 페이지에서 드라이버가 500m이내 접근 시 알림팝업 이슈
  client/src/routes/User/WaitingDriver/WaitingDriver.tsx
Labels: ⌨ refactoring, 🌈 Client
